<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>42 Coffee Cups Test Assignment</title>
</head>
<body>
<div style="top: 25px; left: 25px; width: 653px; position: absolute; margin-top: 1px; margin-left: 1px;">
    <h3 class="" style="font-size: 22px; padding: 2px; font-family: Georgia, serif; line-height: 26px; font-weight: normal; margin-top: 0;">
        42 Coffee Cups Test Assignment
    </h3>
    <div style="display: inline-block;">
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px;">{{person.name}}</p>
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px;">{{person.last_name}}</p>
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px;">{{person.date_of_birth}}</p>
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px; margin-bottom:0">Bio:</p>
        <pre style="font-size: 14px; font-family: Georgia, serif;">{{person.bio}}</pre>
    </div>
    <div style="display: inline-block; float: right;">
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px; margin-top :0">Contacts</p>
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px;">Email: {{person.contacts.email}}</p>
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px;">Jabber: {{person.contacts.jid}}</p>
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px;">Skype: {{person.contacts.skype}}</p>
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px; margin-bottom:0">Other contacts:</p>
        <pre style="font-size: 14px; font-family: Georgia, serif;">{{person.contacts.other_contacts}}</pre>
    </div>
</div>
</body>
</html>