<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>42 Coffee Cups Test Assignment</title>
</head>
<body>
<div style="top: 25px; left: 25px; width: 653px; position: absolute; margin-top: 1px; margin-left: 1px;">
    <h3 class="" style="font-size: 22px; padding: 2px; font-family: Georgia, serif; line-height: 26px; font-weight: normal; margin-top: 0;">
        42 Coffee Cups Test Assignment
    </h3>
    <div style="display: inline-block;">
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px;">Name</p>
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px;">Last name</p>
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px;">Date of birth</p>
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px; margin-bottom:0">Bio:</p>
        <textarea style="font-size: 14px; font-family: Georgia, serif;">Multiline</textarea>
    </div>
    <div style="display: inline-block; float: right;">
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px; margin-top :0">Contacts</p>
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px;">Email: email</p>
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px;">Jabber: JID</p>
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px;">Skype: id</p>
        <p style="font-size: 14px; padding: 2px; font-family: Georgia, serif; line-height: 18px; margin-bottom:0">Other contacts:</p>
        <textarea style="font-size: 14px; font-family: Georgia, serif;">Multiline</textarea>
    </div>
</div>
</body>
</html>